<div class="article">
  <h2>
    <a href="<%= article.url %>"><%= article.title %></a>
    <% if article.date %>
      <small class="date"><%= article.date.formatted %></small>
    <% end %>
  </h2>
  <div class="ow-fluid">
    <% if summary_only %>
      <%= article.summary.formatted %>
      <div class="metainformatiom">
        <%= render_controls article %>
        <%= render_flattr(article) if Serious.flattr %>
        <% if article.summary.length != article.body.length %>
        <span class="right date"><a href="<%= article.url %>">read on...</a></span>
        <% end %>
      </div>
    <% else %>
      <%= article.body.formatted %>
      <% if article.instance_of?(Serious::Article) %>
        <%= render_controls article %>
        <%= render_flattr(article) if Serious.flattr %>
        <%= render_isso() if Serious.isso %>
      <% end %>
    <% end %>
  </div>

</div>
