<div class="flattr-button">
  <a class="FlattrButton" style="display:none;"
    title="<%= article.title %>"
    data-flattr-uid="<%= Serious.flattr_uid %>"
    data-flattr-tags="<%= Serious.flattr_tags.join(',') %>"
    data-flattr-button="compact"
    data-flattr-category="<%= Serious.flattr_category %>"
    href="<%= Serious.url %>/blog<%= article.url %>/">
  </a>
</div>