<div class="flattr-button">
  <a class="FlattrButton" style="display:none;"
    title="<%= title %>"
    data-flattr-uid="<%= Serious.flattr_uid %>"
    data-flattr-tags="<%= Serious.flattr_tags.join(',') %>"
    data-flattr-button="compact"
    data-flattr-language="de_DE"
    data-flattr-category="<%= Serious.flattr_category %>"
    href="<%= url %>">
    <%= description %>
  </a>
</div>
