<% unless article.audioformats.empty? %>

        <div class="podcast_player" style="width:100%;">
          <p>
          <div id="<%= article.permalink %>-player"></div>
          </p>
          <script>
          head.ready('podlove', function () {
            podlovePlayer('#<%= article.permalink %>-player',
            {
              link: `${location.protocol}//${location.host}<%= article.url %>`,
              title: '<%= article.title %>',
              duration: '<%= article.duration_timestring %>',
              poster: '/img/binaergewitter_logo1x1.png',
              chapters: <%= article.chapter_json %>,
              transcripts: '<%= article.respond_to?(:transcript) ? article.transcript : "" %>',
              audio: [
               <% article.audioformats.each_pair do |audio_format, audio_url| %>
                {
                  url: '<%= audio_url %>',
                  mimeType: 'audio/<%= audio_format %>',
                  size: <%= article.audio_file_sizes[audio_format].to_i.to_s %>,
                  title: 'Audio <%= audio_format %>'
                },
              <% end %>
               ],
            }, {
              version: 5,
              base: '/podlove-web-player/',
              theme: {
                  tokens: {
                     brand: "#7FAF1B",
                     brandDark: "#202c07",
                     brandDarkest: "#1B4D3E",
                     brandLightest: "#7faf1b",
                     shadeDark: "#807E7C",
                     shadeBase: "#807E7C",
                     contrast: "#fff",
                     alt: "#fff"
                 }
              },
              share: {
                  channels: [
                    "twitter",
                    "mail",
                    "link"
                  ],
                  outlet: "/share.html",
                  sharePlaytime: true
              }/*,
              "subscribe-button": {
                  feed: `http://{location.host}/podcast_feed/all/mp3/rss.xml`,
                  clients: [
                      { "id": "rss" },
                  ]
              }*/
            });
          });
        </script>
        </div>
<% end %>
