<% unless article.audioformats.empty? %>
        <div class="podcast_downloads">
          <p>
          <% article.audioformats.each_pair do |audio_format, audio_url| %>
            <a href="<%= audio_url %>"><img src="/img/audio_<%= audio_format %>_button.png"/></a>
          <% end %>
          
          <a id="bitlove-<%= article.permalink %>" href="#"><img src="/img/bitlove_button.png"/></a>
          <script type="text/javascript">
          torrentByEnclosure("<%= article.audioformats['mp3'] %>", function(info) {
              if (info) {
                $("#bitlove-<%= article.permalink %>").attr('href', info['sources']['0']['torrent']);
              }
          });          
          </script>
          </p>
        </div>
        <div class="podcast_player" style="width: 50%">
          <p>
            <audio controls="controls" id="<%= article.permalink %>">
              <% article.audioformats.each_pair do |audio_format, audio_url| %>
                <source src="<%= audio_url %>" type="audio/<%= audio_format %>" preload="metadata" />
              <% end %>
              Your browser does not support the audio element.
            </audio>
          </p>
          <script>$('#<%= article.permalink %>').podlovewebplayer(
            {
                    poster: '/img/binaergewitter_logo.png',
            				title: '<%= article.title %>',
            				permalink: '<%= article.permalink %>',
                    author: '<%= article.author %>',
            				alwaysShowHours: false,
            				startVolume: 0.8,
            				width: 'auto',
            				summaryVisible: false,
            				timecontrolsVisible: false,
            				sharebuttonsVisible: false,
            				chaptersVisible: false
          }
          );</script>
        </div>
<% end %>