<% unless article.audioformats.empty? %>
       
        <div class="podcast_player" style="width:100%;">
          <p>
          <div id="<%= article.permalink %>-player"></div>
          </p>
          <script>
          head.ready('podlove', function () {
            podlovePlayer('#<%= article.permalink %>-player', {
             
              theme: {
                main: '#7FAF1B'
              },
              link: 'http://'+location.host+'<%= article.url %>',
              title: '<%= article.title %>',
              poster: '/img/binaergewitter_logo1x1.svg',
              show: {
                  link: 'http://'+location.host,
                  title: 'Binärgewitter. Der Podcast rundum Web, Technologie und Opensource',
                  summary: 'Ein Podcast, der sich mit dem Web, Technologie und Open Source Software auseinander setzt'
              },
   
              audio: [          
               <% article.audioformats.each_pair do |audio_format, audio_url| %>
                {
                  url: '<%= audio_url %>',
                  mimeType: 'audio/<%= audio_format %>',
                  size: <%= article.audio_file_sizes[audio_format].to_i.to_s %>,
                  title: 'Audio <%= audio_format %>'
                },
              <% end %> 
               ],
               visibleComponents: [
                'tabDownload',
                'tabAudio',
                'tabShare',
                'poster',
                'showTitle',
                'episodeTitle',
                'progressbar',
                'controlSteppers'
              ],
              reference: {
                  share: '/podlove-web-player/share',
                  base: '/podlove-web-player/dist'
              }
            });
          });
        </script>
        </div>
<% end %>
