<!DOCTYPE html>
<html lang="de" prefix="og: http://ogp.me/ns#">
<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>

  <meta name="flattr:id" content="mrop97">

  <script>
  head.js(
    { jquery: '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js' },
    { bootstrapCollapse: '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/collapse.min.js'},
    { podlove: '/podlove-web-player/dist/embed.js' },
    { bitlove: '//bitlove.org/widget/base.js' }
  )
    head.load("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
    head.load("/css/iconfont/css/bgt-embedded.css")
    head.load("/css/coderay.css")
  </script>

  <link rel="alternate" type="application/atom+xml" title="<%= Serious.title %>" href="<%= Serious.feed_url %>" />

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= (defined?(@article) && @article) ? @article.title + " - " : "" %><%= Serious.title %></title>

  <meta property="og:site_name" content="<%= Serious.title %>">
  <meta property="og:url" content="<%= (defined?(@article) && @article) ? @article.full_url.gsub('http://', 'https://') : Serious.url.gsub('http://', 'https://') %>" />
  <meta property="og:title" content="<%= (defined?(@article) && @article) ? @article.title : Serious.title %> "/>
  <meta property="og:description" content="<%= (defined?(@article) && @article) ? @article.automatic_summary : Serious.description %>">
  <meta property="og:locale" content="de_DE" />
  <meta property="og:image" content="http://blog.binaergewitter.de/img/binaergewitter_logo_text.png" />
  <meta property="fb:pages" content="1763347550560569">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="<%= (defined?(@article) && @article) ? @article.title : Serious.title %>">
  <meta name="twitter:image" content="http://blog.binaergewitter.de/img/binaergewitter_logo_text.png">

  <meta name="description" content="<%= (defined?(@article) && @article) ? @article.automatic_summary : Serious.description %>">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />

  <style>
    body {
      background-color: white;
    }

    a {
      color: #7FAF1B;
    }

    a:hover,
    a:focus {
      color: #93BF35;
    }

    .navbar {
      background-color: #f5f6f6;
    }
    .header-name {
      font-size: 1.5em;
      font-weight: bold;
    }
    .header-slug {
      font-size: 1em;
      font-weight: 300;
    }
    .header-logo {
      height: 100%;
    }

    .social-icons a {
      font-size: 30px;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <%= render_nav Serious::Page.all %>

  <div class="container">
    <div class="row">
      <%= render_partial :sidebar %>

      <div class="col-md-9">
        <div class="row visible-md visible-lg">
          <div class="col-md-3">
            <img class="header-logo" src="/img/binaergewitter_logo.svg" >
          </div>
          <div class="col-md-9" style="padding-top:20px">
            <h1>
              <span class="header-name"><%= Serious.title %></span>
              <br>
              <small class="header-slug">Now with more Internet!</small>
            </h1>
          </div>
        </div>
        <hr>
        <%= yield.force_utf8 %>
      </div>
    </div>
  </div>

  <%#
  <div id="footer">
    <p>
    </p>
  </div>
  %>
  <%= render_partial :google_analytics if Serious.google_analytics %>
  <a class="visible-md visible-lg" href="https://github.com/Binaergewitter/serious-bg/"><img style="z-index: 1001; position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
</body>
</html>

