<!DOCTYPE html>
<html lang="de">
<head>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <link rel="stylesheet" type="text/css" href="/css/coderay.css">
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  <link href="/podlove-web-player/static/podlove-web-player.css" rel="stylesheet" media="screen" type="text/css" />
  <script src="/podlove-web-player/static/podlove-web-player.js"></script>
  <script src="http://bitlove.org/widget/base.js" type="text/javascript"></script>
  <link rel="alternate" type="application/atom+xml" title="<%= Serious.title %>" href="<%= Serious.feed_url %>" />
  
  <meta property="og:url" content="<%= @article ? @article.full_url : Serious.url %>" />
  <meta property="og:title" content="<%= @article ? @article.title + " - " : "" %><%= Serious.title %>" />
  <meta property="og:locale" content="de_DE" />
  <meta property="og:image" content="http://blog.binaergewitter.de/images/binaergewitter_logo.png" /> 
  
  <title><%= @article ? @article.title + " - " : "" %><%= Serious.title %></title>
</head>
  
<body>
  <header class="page-header">
    <a href="https://github.com/Binaergewitter/serious-bg/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"/></a>
    <div class="container-fluid">
      <h1><img src="/img/binaergewitter_logo.png"/><a href="/"><%= Serious.title %></a></h1>
      <p class="lead">Now with more Internet!</p>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <%= render_nav Serious::Page.all %>
          <% if Serious.flattr %>
          <div class="flattr-button nav-list">
            <iframe src="http://api.flattr.com/button/view/?url=<%= Serious.url %>%2F&amp;title=<%= Serious.title %>&amp;description=Ein%20Podcast%2C%20der%20sich%20mit%20dem%20Web%2C%20Technologie%20und%20Open%20Source%20Software%20auseinander%20setzt&amp;uid=<%= Serious.flattr_uid%>&amp;category=<%= Serious.flattr_category %>&amp;tags=<%= Array(Serious.flattr_tags).join('%2C') %>&amp;" class="FlattrButton" width="55" height="62" frameborder="0" scrolling="no" border="0" marginheight="0" marginwidth="0" allowtransparency="true"></iframe>
          </div>
          <% end %>
        </div>
      </div>
      <div class="span9">
        <section id="global">
          <%= yield.force_utf8 %>
        </section>
      </div>
    </div>
  </div>
  <div id="footer">
    <p>
    </p>
  </div>
    
  <%= render_partial :google_analytics if Serious.google_analytics %> 
  <% if Serious.flattr %>
  <script type="text/javascript">
    /* <![CDATA[ */
    (function() {
      var s = document.createElement('script');
      var t = document.getElementsByTagName('script')[0];

      s.type = 'text/javascript';
      s.async = true;
      s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';

      t.parentNode.insertBefore(s, t);
    })();
    /* ]]> */
  </script>
  <% end %>
</body>
</html>

