<!DOCTYPE html>
<html lang="de">
<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>

  <script>
  head.js(
    { jquery: '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js' },
    { bootstrapCollapse: '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/collapse.min.js'},
    { podlove: '/podlove-web-player/static/podlove-web-player.js' },
    { bitlove: '//bitlove.org/widget/base.js' }
    <% if Serious.flattr %>,{ flattr: '//api.flattr.com/js/0.6/load.js?mode=auto'}<% end %>
  )
    head.load("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
    head.load("/css/coderay.css")
  </script>

  <link href="/podlove-web-player/static/podlove-web-player.css" rel="stylesheet" media="screen" type="text/css" />

  <link rel="alternate" type="application/atom+xml" title="<%= Serious.title %>" href="<%= Serious.feed_url %>" />

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= Serious.description %>" />

  <meta property="og:url" content="<%= @article ? @article.full_url : Serious.url %>" />
  <meta property="og:title" content="<%= @article ? @article.title + " - " : "" %><%= Serious.title %>" />
  <meta property="og:locale" content="de_DE" />
  <meta property="og:image" content="http://blog.binaergewitter.de/images/binaergewitter_logo.png" />

  <title><%= @article ? @article.title + " - " : "" %><%= Serious.title %></title>

  <style>
    body {
      background-color: white;
    }

    a {
      color: #7FAF1B;
    }

    a:hover,
    a:focus {
      color: #93BF35;
    }

    .navbar {
      background-color: #f5f6f6;
    }
    .header-name {
      font-size: 1.5em;
      font-weight: bold;
    }
    .header-slug {
      font-size: 1em;
      font-weight: 300;
    }

    .header-logo {
      width: 100%;
    }
  </style>
</head>

<body>
  <a class="visible-md visible-lg" href="https://github.com/Binaergewitter/serious-bg/"><img style="z-index: 1001; position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
  <%= render_nav Serious::Page.all %>

  <div class="container">
    <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default visible-md visible-lg">
            <div class="panel-heading">
                <h3 class="panel-title">Über uns</h3>
            </div>
            <div class="panel-body">
              <p>
                  <%= Serious.description %>
                  <a href="/pages/ueber-uns">mehr...</a>
              </p>
              <%= render_flattr() if Serious.flattr %>
              <%#
              <p>
                <strong>@binaergewitter</strong> auf
              </p>
              <p class="social-icons text-center">
                <a href="https://twitter.com/binaergewitter">
                  <i class="icon-3x icon-twitter"></i>
                </a>
                <a href="https://app.net/binaergewitter">
                  <i class="icon-3x icon-adn"></i>
                </a>
                <a href="https://github.com/binaergewitter">
                  <i class="icon-3x icon-github"></i>
                </a>
                <a id="flattr-icon" href="https://github.com/binaergewitter">
                  <i class="icon-3x icon-github"></i>
                </a>
              </p>
              %>
            </div>
          </div>

          <!-- DDG Search !-->
          <form role="search" action="https://duckduckgo.com/" name="x">
            <input type="hidden" name="sites" value="blog.binaergewitter.de">
            <div class="widget-DDG form-group">
              <div class="widget-DDG_start"></div>
              <div class="widget-DDG_input input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-search"></span>
                </span>
                <input id="search" name="q" type="text" class="DDGinput form-control" placeholder='Suche' />
              </div>
              <div class="widget-DDG_end" onclick="document.x.submit()" class="btn btn-default"></div>
            </div>
          </form>
        </div>
        <div class="col-md-9">
          <div class="row visible-md visible-lg">
            <div class="col-md-3">
              <img class="header-logo" src="/img/binaergewitter_logo.png" >
            </div>
            <div class="col-md-9" style="padding-top:20px">
              <h1>
                <span class="header-name"><%= Serious.title %></span>
                <br>
                <small class="header-slug">Now with more Internet!</small>
              </h1>
            </div>
          </div>
          <hr>
          <%= yield.force_utf8 %>
        </div>
    </div>
  </div>

  <%#
  <div id="footer">
    <p>
    </p>
  </div>
  %>
  <%= render_partial :google_analytics if Serious.google_analytics %>
</body>
</html>

